<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p> Pipes incluidos en Angular - Usualmente en el Common Module</p>
</div>

<div class="grid">

    <div class="col-6">

        <div class="mb-3">
            <p-fieldset legend="i18nSelect Pipe" [toggleable]="true" [collapsed]="true">
                <h4>var | i18nSelect:selectMap</h4>
                <hr>
                <p>
                    Saludos {{nombre}}, es un placer 
                    {{sexo | i18nSelect:selectMap}} 
                    a nuestro evento.
                </p>
                <div class="mr-2 flex justify-content-end ">
                    <button pButton (click)="changePerson()"
                        type="button" label="Cambiar Nombre" icon="pi pi-plus" class="p-button-rounded p-button-outlined" ></button>
                </div>
            </p-fieldset>
        </div>

        <div class="mb-3">
            <p-fieldset legend="Slice Pipe" [toggleable]="true" [collapsed]="true">
                <h4>var | slice:1:3</h4>
                <hr>
                <b>Original</b>
                <pre>{{clientes}}</pre>
    
                <b>slice:1:3</b>
                <pre>{{clientes | slice:1:3}}</pre>               
            </p-fieldset>
        </div>

        <div class="mb-3">
            <p-fieldset legend="KeyValue Pipe" [toggleable]="true" [collapsed]="true">

                <h4>*ngFor="let item of var | keyvalue"</h4>
                <hr>

                <pre>{{persona | json}}</pre>
                
                <ul>
                    <li *ngFor="let item of persona | keyvalue">
                        <b>{{item.key}}:</b> {{item.value}}
                    </li>
                </ul>
                                
            </p-fieldset>
        </div>

    </div>

    <div class="col-6">

        <div class="mb-3">
            <p-fieldset legend="i18nPlural Pipe" [toggleable]="true" [collapsed]="true">
                <h4>var.length | i18nPlural:pluralMap</h4>
                <hr>
                <p>
                    Actualmente {{clientes.length | i18nPlural:pluralMap}}
                </p>
                <div class="mr-2 flex justify-content-end">

                    <button pButton (click)="deleteClient()" label="Borrar Cliente"
                        type="button"  icon="pi pi-user-minus" class=" mr-2 p-button-rounded p-button-outlined" ></button>

                    <button pButton (click)="resetArray()" label="Reset"
                        type="button"   class=" p-button-help p-button-rounded p-button-outlined" ></button>
                    
                </div>
                    
            </p-fieldset>
        </div>

        <div class="mb-3">
            <p-fieldset legend="Json Pipe" [toggleable]="true" [collapsed]="true">
                <h4>var | json</h4>
                <hr>
                
                <pre>{{heroes | json}}</pre>
                                
            </p-fieldset>
        </div>

        <div class="mb-3">
            <p-fieldset legend="Async Pipe" [toggleable]="true" [collapsed]="true">
                <h4>var | async</h4>
                <hr>

                <pre *ngIf="!(valorPromesa | async)">Resolviendo Promesa...</pre>
                <pre>{{valorPromesa | async}}</pre>
                
            </p-fieldset>
        </div>

        
    </div>


</div>